<!DOCTYPE html>
<html>
<style>
    img{
        height: 25px;
    }

    .journee{
        margin-top: 20px;
    }

    .button{
        border: 0;
        background-color: white;
    }

    .button:hover{
        border: 2px solid gray;
        border-radius: 2px;
    }

</style>

<head>
    <title>Calendrier</title>
</head>

<body>
<div class="championnat">
    <h1>Calendrier du Championnat</h1>
    <div class="navbar">
        <span><button class="button" id="prevDay" onclick="showPreviousDay()">&lt;</button></span>
        <span id="journee"></span>
        <span><button class="button" id="nextDay" onclick="showNextDay()">&gt;</button></span>
    </div>
    <div id="dayDisplay"></div>
</div>
<script>

    let championnat = [];

    const apiUrl = "https://api-dofa.fff.fr/api/compets/407672/phases/1/poules/3/poule_journees?details[]=pouleJourneeWithMatch";
    
    async function fetchData(){
        try {
            const response = await fetch(apiUrl);
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            const data = await response.json();
        
            data['hydra:member'].forEach(item => {
                let matchs = []; 
                console.log(item["matchs"]);
                item["matchs"].forEach(match => {
                    if(match["home"]["club"]["@id"] == "/api/clubs/2440" || match["away"]["club"]["@id"] == "/api/clubs/2440"){
                        let score;
                        if(match["home_score"] == null){
                            score = "VS";
                        }else{
                            score = match["home_score"] +  "-" + match["away_score"];
                        }
                        const rawDate = new Date(match["date"]);
                        matchs.push(
                        { 
                            rawDate: rawDate,
                            date: rawDate.getDate() + " " + rawDate.toLocaleDateString('fr-FR', { month: 'long' }),
                            time: match["time"],
                            home: 
                                {
                                    name: match["home"]["short_name"],
                                    logo: match["home"]["club"]["logo"]
                                },
                                away: 
                                {
                                    name: match["away"]["short_name"],
                                    logo: match["away"]["club"]["logo"]                               
                                },
                                    score: score
                        },
                    )
                    }
                })
                matchs.sort((a, b) => 
                {
                    if (a.date !== b.date) {    
                        return a.rawDate - b.rawDate;
                    }
                    const timeA = a.time.split('H').map(Number);
                    const timeB = b.time.split('H').map(Number);
                    if (timeA[0] !== timeB[0]) {
                        return timeA[0] - timeB[0];
                    }
                    return timeA[1] - timeB[1];
                });
                championnat.push(
                    {
                        journee: item["number"],
                        matchs: matchs
                    }
                )
            })
            showDay(1);
        }catch (error) {
            console.error('Fetch error:', error);
        }
    }

    fetchData();

    let currentDayIndex = 1;
    const journeeDisplay = document.getElementById("journee")
    const dayDisplay = document.getElementById('dayDisplay');

    function showDay(dayIndex) {
        const currentDay = championnat[dayIndex - 1];
        journeeDisplay.innerHTML = `Journée ${currentDay.journee}`;
        dayDisplay.innerHTML = `
                    <div class="journee">
                        ${currentDay.matchs.map(match => `
                            <div>${match.date} - ${match.time}</div>
                            <div>
                                ${match.home.name}
                                <img src="${match.home.logo}">
                                <span>${match.score}</span>
                                <img src="${match.away.logo}">
                                ${match.away.name}
                            </div>
                        `).join('')}
                    </div>
                `;
    }

    function showPreviousDay() {
        if (currentDayIndex > 1) {
            currentDayIndex--;
            showDay(currentDayIndex);
        }
    }

    function showNextDay() {
        if (currentDayIndex < championnat.length - 1) {
            currentDayIndex++;
            showDay(currentDayIndex);
        }
    }
    
</script>
</body>
</html>
