<!-- templates/page/api_data.html.twig -->
<!DOCTYPE html>
<html>
<style>
    img{
        height: 25px;
    }

    .journee{
        margin-top: 20px;
    }

    .button{
        border: 0;
        background-color: white;
    }

    .button:hover{
        border: 2px solid gray;
        border-radius: 2px;
    }

</style>

<head>
    <title>Calendrier</title>
</head>

<body>
    <div class="championnat">
        <h1>Calendrier du Championnat</h1>
        <div class="navbar">
            <span><button class="button" id="prevDay" onclick="showPreviousDay()">&lt;</button></span>
            <span id="journee"></span>
            <span><button class="button" id="nextDay" onclick="showNextDay()">&gt;</button></span>
        </div>
        <div id="dayDisplay"></div>
    </div>
    <script>
        const championnat = [
            {% for item in apiData %}
            {
                journee: "{{ item.journee }}",
                matchs: [
                    {% for match in item.matchs %}
                    {
                        date: "{{ match.date }}",
                        time: "{{ match.time }}",
                        home: {
                            name: "{{ match.home.name }}",
                            logo: "{{ match.home.logo }}"
                        },
                        away: {
                            name: "{{ match.away.name }}",
                            logo: "{{ match.away.logo }}"
                        },
                        score: "{{ match.home.score }} - {{ match.away.score }}"
                    },
                    {% endfor %}
                ]
            },
            {% endfor %}
        ];

        let currentDayIndex = 0;
        const journeeDisplay = document.getElementById("journee")
        const dayDisplay = document.getElementById('dayDisplay');

        function showDay(dayIndex) {
            const currentDay = championnat[dayIndex];
            journeeDisplay.innerHTML = `Journée ${currentDay.journee}`
            dayDisplay.innerHTML = `
                    <div class="journee">
                        ${currentDay.matchs.map(match => `
                            <div>${match.date} - ${match.time}</div>
                            <div>
                                ${match.home.name}
                                <img src="${match.home.logo}">
                                <span style="color: white;background-color: lightblue">${match.score}</span>
                                <img src="${match.away.logo}">
                                ${match.away.name}
                            </div>
                        `).join('')}
                    </div>
                `;
        }

        function showPreviousDay() {
            if (currentDayIndex > 0) {
                currentDayIndex--;
                showDay(currentDayIndex);
            }
        }

        function showNextDay() {
            if (currentDayIndex < championnat.length - 1) {
                currentDayIndex++;
                showDay(currentDayIndex);
            }
        }
        showDay(currentDayIndex);
    </script>
</body>
</html>
