<!-- templates/page/api_data.html.twig -->
<!DOCTYPE html>
<html>
<style>
    img{
        height: 25px;
    }
</style>
<head>
    <title>Classement Général</title>
</head>
<body>
<h1>Classement Général</h1>
<table>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>Pts</th>
        <th>J</th>
        <th>Diff</th>
    </tr>
    {% for item in apiData %}
        {% if item.name == "TOURS FC"  %}
            <tr style="background-color: blue">
        {% else %}
            <tr>
        {% endif %}
            <th>{{ item.rank }}</th>
            <th><img src="{{ item.logo}}"></th>
            <th>{{ item.name }}</th>
            <th>{{ item.points }}</th>
            <th>{{ item.game_played }}</th>
            <th>{{ item.diff }}</th>
        </tr>
    {% endfor %}
</table>
</body>
</html>
