<!-- templates/page/api_data.html.twig -->
<!DOCTYPE html>
<html>
<style>
    img{
        height: 25px;
    }
</style>
<head>
    <title>Classement par 5</title>
</head>
<body>
<h1>National 3</h1>
{% for item in apiData %}
    {% if item.name == "TOURS FC"  %}
        <div> Place n°{{ item.rank }}</div>
    {% endif %}
{% endfor %}
<table>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>Pts</th>
        <th>J</th>
        <th>V</th>
        <th>N</th>
        <th>D</th>
        <th>Diff</th>
    </tr>
    {% for item in apiData %}
        {% if item.name == "TOURS FC"  %}
            <tr style="background-color: blue">
        {% else %}
            <tr>
        {% endif %}
            <th>{{ item.rank }}</th>
            <th><img src="{{ item.logo}}"></th>
            <th>{{ item.name }}</th>
            <th>{{ item.points }}</th>
            <th>{{ item.game_played }}</th>
            <th>{{ item.wins }}</th>
            <th>{{ item.draws }}</th>
            <th>{{ item.loses }}</th>
            <th>{{ item.diff }}</th>
        </tr>
    {% endfor %}
</table>
<h1>Coupe de France</h1>
<div>Tour actuel : {{ fr|last.rank }}</div>

{% if fr[0].rank != 1 %}
    {% for i in range(1,fr[0].rank-1) %}
        <div>
            <div>Tour N°{{ i }}</div>
            <div>Pas rentré</div>
        </div>
    {% endfor %}
{% endif %}

{% for item in fr %}
    <div>Tour N°{{ item.rank }}</div>
    <div>
        <span>{{ item.date }}</span>
        <span>-</span>
        <span>{{ item.time }}</span>
    </div>
    <div>
        <span>{{ item.home.name }}</span>
        <span><img src="{{ item.home.logo}}"></span>
        {% if item.home.score == null %}
            <span>Non Joué</span>
        {% else %}
            <span>{{ item.home.score}} - {{ item.away.score}}</span>
        {% endif %}
        <span><img src="{{ item.away.logo}}"></span>
        <span>{{ item.away.name }}</span>
    </div>
{% endfor %}
</body>
</html>

